In [1]:
import pandas as pd
import numpy as np
from sklearn import cluster, covariance, manifold
import numpy as np
from sklearn.metrics import r2_score
import math
import matplotlib.pyplot as plt
import time
import os

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
from sklearn.feature_selection import RFECV

In [3]:
# import warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import root_mean_squared_error

In [5]:
#!gdown 1ntRwkzL7SBkPIkf6nCpZG-xLmj8G_7su
path = r'C:\Users\User\Documents\Atividades_andamento\Nayana\corrige_codigos'
os.chdir(path)

In [8]:
#df =pd.read_excel('custos_versao_jun_17_2023.xlsx')
df =pd.read_excel("custos_versao_mar_14B_2024.xlsx")
df = df.drop(['Local','Barragens'],axis=1)
names = df.columns

In [9]:
clear = ['AdmSupInfra','SuppStudSur','PreCloseRevDet','WastePiles','OpenPitMine',
         'IndustAreas','StorageAreas','PondsTanks','OverallCosts',
         'PostCloseMonitor','PostCloseMain']
df = df.drop(clear,axis=1) #apaga quantitativas de custo

In [10]:
# df.drop(['Ano de fechamento da estrutura'],inplace=True,axis=1)

In [11]:
k, list_ = 0, []
for test in df.std()== 0:
  if test == True:
    list_.append(names[k])
    print(names[k])
  k = k + 1
print(list_)

FoSAccep
FWorTeOP
EroEO
GeochAvai
ContSoil
ContGrouWat
ContMat
HealthRisk
EcoRisck
Plann
RemovStruc
RemoContSoil
DevWater
MatHand
['FoSAccep', 'FWorTeOP', 'EroEO', 'GeochAvai', 'ContSoil', 'ContGrouWat', 'ContMat', 'HealthRisk', 'EcoRisck', 'Plann', 'RemovStruc', 'RemoContSoil', 'DevWater', 'MatHand']

In [12]:
df = df.drop(list_, axis=1)
df.shape

(33, 53)

In [13]:
df.describe()

,Dams,Area,Height,Volume,StruOper,Ano de encerramento da operação da estrutura?,AreaRec,GeoteAvai,TopAvai,SSEO,...,GeotecMon,DrainSysMon,ErosProcMon,GroundwaQMon,SurfWatQuaMon,VegetPerfMon,FaunaMon,DrainSysMain,ErosProcMain,RevegMain
count,3.300000e+01,33.000000,33.000000,3.300000e+01,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,...,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,3.956269e+06,127.121755,32.113939,2.987060e+07,0.666667,1981.121212,0.030303,0.757576,0.787879,0.939394,...,0.606061,0.909091,0.242424,0.878788,0.909091,0.909091,0.636364,0.818182,0.212121,0.878788
std,7.083735e+06,217.723367,28.556329,7.845397e+07,0.478714,356.498313,0.174078,0.435194,0.415149,0.242306,...,0.496198,0.291937,0.435194,0.331434,0.291937,0.291937,0.488504,0.391675,0.415149,0.331434
min,3.199770e+03,0.125400,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.155955e+05,3.500000,13.000000,3.361500e+04,0.000000,2026.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
50%,1.294021e+06,30.000000,23.000000,1.300000e+06,1.000000,2035.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
75%,3.857935e+06,108.700000,53.560000,1.200000e+07,1.000000,2060.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,3.093551e+07,856.000000,110.000000,3.440000e+08,1.000000,2098.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
word ='Custo_barragem' 
word = 'Dams'
X = df.drop([word],axis=1)
#y = df[word]
y = np.log10(df[word])

## MLR

In [15]:
from sklearn.preprocessing import MinMaxScaler

X_norm = MinMaxScaler().fit_transform(X)
escalor = MinMaxScaler()
y_norm = escalor.fit_transform(y.values.reshape(-1,1))

In [16]:
estimator= LinearRegression()
selector = RFECV(estimator, cv=5,step=5, scoring='r2', min_features_to_select = 8)
selector = selector.fit(X_norm, y_norm)

In [17]:
#print(selector.support_)
#print(selector.ranking_)

In [18]:
svm_var =[]
for test, w in zip(selector.support_,X.columns):
  if test == True:
    print(test,'---',w)
    svm_var.append(w)

True --- AreaRec
True --- SSEO
True --- SedDredg
True --- TulipPlu
True --- OthClosAct
True --- GeotecMon
True --- GroundwaQMon
True --- FaunaMon

In [19]:
estimator.fit(X_norm, y_norm)
#estimator.coef_

array([[-6.03919634e+00,  3.85076331e+00, -2.48076031e+01,
        -1.04067981e-01, -3.07836403e+01, -2.95203303e+01,
         2.28090595e+01, -1.08850195e+01, -6.41164917e+00,
         1.69818820e+01,  1.35606354e+01, -1.50344022e+00,
        -1.37419520e-11,  2.23860263e+00,  1.89489535e-11,
         3.14215320e-12, -2.55795385e-12,  3.36086714e-12,
         1.14984889e+00, -8.17124146e-14, -1.63092544e+01,
        -7.99360578e-15, -3.07182010e+00, -1.01791151e+01,
         3.28744295e+01, -2.62514906e+01,  6.41164917e+00,
         7.56149807e+00,  1.77635684e-14, -2.13162821e-14,
        -2.08295610e+01, -3.31891491e+01,  2.53171772e+00,
        -1.24112487e+01, -5.78710477e+00,  0.00000000e+00,
        -9.29941100e-01,  1.35814162e-01, -1.77392417e+01,
         1.33511280e+01, -1.18826264e+01,  2.31167949e+01,
         2.51687278e+01,  5.79757945e+00, -7.36005555e+00,
         1.92984278e+01, -3.00496973e+01, -6.18783223e+00,
         6.88487971e+00, -3.90252785e-01, -1.03179921e+01,
         2.38833529e+01]])

In [20]:
coef = estimator.coef_.ravel()
var = []
k = 0
for test, w in zip(selector.support_,X.columns):
  if test == True:
    values = [w,np.abs(coef[k])]
    var.append(values)
    k += 1

In [21]:
var = pd.DataFrame(var)
var.columns = ['variable','coef_abs']
var.sort_values(by='coef_abs',inplace=True)
var.reset_index(drop=True, inplace= True)
names = var.tail(7).variable.values
names

array(['SSEO', 'AreaRec', 'FaunaMon', 'GroundwaQMon', 'SedDredg',
       'GeotecMon', 'OthClosAct'], dtype=object)

In [22]:
var

       variable   coef_abs
0      TulipPlu   0.104068
1          SSEO   3.850763
2       AreaRec   6.039196
3      FaunaMon  10.885019
4  GroundwaQMon  22.809060
5      SedDredg  24.807603
6     GeotecMon  29.520330
7    OthClosAct  30.783640

In [23]:
X_svm = X[svm_var]

In [24]:
X_norm_svm = MinMaxScaler().fit_transform(X_svm)

In [25]:
#X_norm_svm

In [26]:
def mine_test(X,y): # testa o ajuste
  rows=X.shape[0]
  cols =X.shape[1]

  y_pred   = []

  for i in range(rows):
    X_train = np.delete(X,i,axis=0)
    y_train = np.delete(y,i,axis=0)
    X_test  = X[i,:].reshape(1,cols)
    y_test  = y[i]
    model = LinearRegression()
    model = model.fit(X_train, y_train.reshape(-1,1))
    yi = model.predict(X_test)
    y_pred.append(yi)

  y_pred = np.array(y_pred)

  return y_pred

In [27]:
y_calc = mine_test(X_norm_svm, y_norm)

In [28]:
r_scored = r2_score(y_calc.ravel(),y_norm.ravel())
print(r_scored)

0.4510707618879414

In [29]:
y_pred = escalor.inverse_transform(y_calc.ravel().reshape(-1,1))
y_true = np.array(y)

In [30]:
#y_pred,y_true

In [31]:
print('mae :', mean_absolute_error(y_true, y_pred))
print('rmse :', root_mean_squared_error(y_true, y_pred))

mae : 0.5249964561443451
rmse : 0.6559697068453653

In [32]:
restricted = ['Area',
 'altura',
 'volume',
 'mina',
 'Ano de encerramento da operação da estrutura',
 'Estrutura estável ao final da operação?',
 'Água subterrânea contaminada?',
 'Retaludamento',
 'Construção de vertedouro',
 'Focos erosivos.1']

restricted = list(names)

In [33]:
X_restricted = X[restricted]
X_norm = MinMaxScaler().fit_transform(X_restricted)
y_norm = MinMaxScaler().fit_transform(y.values.reshape(-1,1))

In [34]:
X_norm_svm = MinMaxScaler().fit_transform(X_restricted)

In [35]:
y_calc = mine_test(X_norm_svm, y_norm)

In [36]:
r_scored = r2_score(y_calc.ravel(),y_norm.ravel())
print(r_scored)

0.41886062149803427

In [37]:
y_pred = escalor.inverse_transform(y_calc.ravel().reshape(-1,1))
y_true = np.array(y)

In [38]:
print('mae :', mean_absolute_error(y_true, y_pred))
print('rmse :', root_mean_squared_error(y_true, y_pred))

mae : 0.5307544210868917
rmse : 0.653945549096946

In [39]:
X_restricted

    SSEO  AreaRec  FaunaMon  GroundwaQMon  SedDredg  GeotecMon  OthClosAct
0      0        0         0             1         0          1           1
1      0        0         0             1         0          1           1
2      1        0         0             1         0          1           1
3      1        0         0             1         0          1           0
4      1        0         0             0         0          1           1
5      1        0         0             0         0          1           1
6      1        0         0             0         0          1           1
7      1        0         1             0         0          0           0
8      1        0         1             1         0          1           0
9      1        0         1             1         0          1           0
10     1        0         1             1         0          0           0
11     1        0         1             1         0          0           0
12     1        0         1             1         0          0           0
13     1        0         1             1         0          1           0
14     1        0         1             1         0          1           0
15     1        0         1             1         1          0           0
16     1        0         1             1         1          0           0
17     1        0         1             1         1          0           0
18     1        0         1             1         1          0           0
19     1        0         1             1         1          0           0
20     1        0         0             1         0          1           0
21     1        0         0             1         0          1           0
22     1        0         0             1         0          0           0
23     1        0         0             1         0          0           0
24     1        0         1             1         0          1           0
25     1        0         1             1         0          1           0
26     1        1         1             1         0          1           0
27     1        0         1             1         0          1           0
28     1        0         1             1         0          0           0
29     1        0         1             1         0          0           0
30     1        0         1             1         0          1           0
31     1        0         0             1         0          1           0
32     1        0         1             1         0          1           0