<a href="https://colab.research.google.com/github/ucfilho/AI/blob/main/AI_2023/Python_Review/Prog_001_mar_15_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
x = 3
y = 4
z = x * y
print(x,y,z)

3 4 12

In [31]:
print(x**y)

81

In [32]:
print(y % x)

1

In [33]:
x = [2,3,4] # lista
for xi in x:
  print(xi)
  print(xi+1)
  print('======')

2
3
======
3
4
======
4
5
======

In [34]:
w = ['a',1,'b',2.0]

In [35]:
lista = [1,2,3,4,5,6,7,8]
for wi in lista:
  if wi % 2 == 0:
    print(wi,'numero par')
  else:
    print(wi,'numero impar')

1 numero impar
2 numero par
3 numero impar
4 numero par
5 numero impar
6 numero par
7 numero impar
8 numero par

In [36]:
import numpy as np

In [37]:
z = np.array([1.0,2.0,3.0,4.0,5.0])

In [38]:
print(z)

[1. 2. 3. 4. 5.]

In [39]:
lista[2]

3

In [40]:
x = [1,2,10,4]
for i in range(4):
  print(i,x[i])

0 1
1 2
2 10
3 4

In [41]:
# x=1,1,2,3,5,8,.....

'''
 x=1,1,2,3,5,8,13,21,34.....
'''

'\n x=1,1,2,3,5,8,13,21,34.....\n'

In [52]:
n = int(input('entre a quantidade:'))
x = 1
y = 1
k = 3
for i in range(n):
  aux = y
  y = x + y
  x = aux
  #print(y)
  if y >= 10:
    print(k)
    break

  k = k + 1

entre a quantidade:20
7

In [48]:
x = 1
y = 1
while True:
  x, y = y, x+y
  if y >= 10:
    print(y)
    break

13

In [54]:
xx = 3.14159265
print(xx)
print(np.pi)

3.14159265
3.141592653589793

In [57]:
x = 1
y = 1
print(x+y)

2

In [58]:
def Testa(x):
  
  if x % 2 == 0:
    resp = 'par'
  else:
    resp = 'impar'
  
  return resp

In [59]:
lista = [1,2,3,4,5,6]
for xi in lista:
  print(xi,Testa(xi))

1 impar
2 par
3 impar
4 par
5 impar
6 par

In [60]:
class Student:
  def __init__(self):
    self.name = 'John'
    self.grades = (90,90,93,78,90)

In [61]:
person = Student()
print(person.name)
print(person.grades)
print(sum(person.grades)/len(person.grades))

John
(90, 90, 93, 78, 90)
88.2

In [62]:
class Student_plus_method:
  def __init__(self):
    self.name = 'John'
    self.grades = (90,90,93,78,90)

  def average(self):
    return sum(self.grades)/len(self.grades)

student = Student_plus_method()
print(student.average())

88.2

In [63]:
class Student_more_general:
  def __init__(self, name, grades):
    self.name = name
    self.grades = grades

  def average(self):
    return sum(self.grades)/len(self.grades)

student = Student_more_general('John',(90,90,93,78,90))
print(student.average())

88.2

In [69]:
a = [1,2,3]
b = np.array([1,2,3])
c = (1,2,3) # tuple
d = {1,2,3,2} # set

In [70]:
d

{1, 2, 3}