<a href="https://colab.research.google.com/github/ucfilho/AI/blob/main/AI_2023/Python_Review/python_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
x = 2
y = 3
w = x**y
print('w:',w)

w: 8

In [3]:
lista = [2,3,4,5,6]
for yi in lista:
  w = x**yi
  print('w=x**y',w,x,yi)

w=x**y 4 2 2
w=x**y 8 2 3
w=x**y 16 2 4
w=x**y 32 2 5
w=x**y 64 2 6

In [4]:
lista = [2,3,4,5,6,7,8,9,10]
for yi in lista:
  w = x**yi
  if w < 100:
    print('w=x**y',w,x,yi)
  else:
    break
    print('maior que 100')

w=x**y 4 2 2
w=x**y 8 2 3
w=x**y 16 2 4
w=x**y 32 2 5
w=x**y 64 2 6

In [5]:
for i in range(9):
  print(i,lista[i])

0 2
1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10

In [6]:
lista =[1,2,3,4,5,6,7,8,9]
x = 2
lista2 = []
for yi in lista:
  w = x**yi
  lista2.append(w)

In [7]:
lista2

[2, 4, 8, 16, 32, 64, 128, 256, 512]

In [8]:
dic_ = {}
lista = [1,2,3,4,5,6]
x = 2
s = 'a'
for yi in lista:
  w = x**yi
  dic_[s] = w
  s = s + 'a'
print(dic_)

{'a': 2, 'aa': 4, 'aaa': 8, 'aaaa': 16, 'aaaaa': 32, 'aaaaaa': 64}

In [9]:
lista = [1,2,3,4]
dic_ ={'a':1,'b':3,'c':3,'d':5}

In [10]:
vetor = np.array([1,2,3,4])
print(vetor)

[1 2 3 4]

In [11]:
np.mean(vetor),np.std(vetor)

(2.5, 1.118033988749895)

In [12]:
def potencia(x,y):
  w = x**y
  return w

lista = [1,2,3,4,5]
for yi in lista:
  print(potencia(2,yi))

2
4
8
16
32

In [13]:
dic_ = {'a':[1,2,3,4],'b':[2,4,6,8]}
df = pd.DataFrame(dic_)

In [15]:
df['a']

0    1
1    2
2    3
3    4
Name: a, dtype: int64

In [17]:
a =(1,2,3)
b = set([1,2,3])
print(a)
print(b)

(1, 2, 3)
{1, 2, 3}